{
    "_meta": {
        "hostvars": {
            {% if oos_env_type == 'cluster' %}
            "compute01": {
                "ansible_host": "{{ compute01_ip }}"
            },
            "compute02": {
                "ansible_host": "{{ compute02_ip }}"
            },
            {% endif %}
            "controller": {
                "ansible_host": "{{ controller_ip }}",
                "horizon_allowed_host": "{{ horizon_allowed_host }}",
                "kolla_openeuler_plugin": "{{ kolla_openeuler_plugin }}"
            }
        }
    },
    "all": {
        "children": [
            "compute",
            "dashboard",
            "kolla",
            "network",
            "storage",
            "ungrouped"
        ],
        "vars": {
            "ansible_python_interpreter": "/usr/bin/python3",
            "cinder_block_device": "{{ cinder_block_device }}",
            "default_ext_subnet_gateway": "{{ default_ext_subnet_gateway }}",
            "default_ext_subnet_range": "{{ default_ext_subnet_range }}",
            "enabled_service": [
    {% for service in enabled_service %}
                "{{ service }}"{% if not loop.last %},{% endif %}
    {% endfor %}
            ],
            "mysql_project_password": "{{ mysql_project_password }}",
            "mysql_root_password": "{{ mysql_root_password }}",
            "neutron_dataplane_interface_name": "{{ neutron_dataplane_interface_name }}",
            "neutron_provider_interface_name": "{{ neutron_provider_interface_name }}",
            "project_identity_password": "{{ project_identity_password }}",
            "rabbitmq_password": "{{ rabbitmq_password }}",
            "swift_hash_path_prefix": "{{ swift_hash_path_prefix }}",
            "swift_hash_path_suffix": "{{ swift_hash_path_suffix }}",
            "swift_storage_devices": [
    {% for device in swift_storage_devices %}
                "{{ device }}"{% if not loop.last %},{% endif %}
    {% endfor %}
            ],
            "openstack_release": "{{ openstack_release }}",
            "oos_env_type": "{{ oos_env_type }}",
            "keypair_dir": "{{ keypair_dir }}",
            "provider": "{{ provider }}",
            "cinder_api_workers": "{{ cinder_api_workers }}",
            "glance_api_workers": "{{ glance_api_workers }}",
            "neutron_api_workers": "{{ neutron_api_workers }}",
            "nova_api_workers": "{{ nova_api_workers }}",
            "nova_metadata_api_workers": "{{ nova_metadata_api_workers }}",
            "nova_conductor_workers": "{{ nova_conductor_workers }}",
            "nova_scheduler_workers": "{{ nova_scheduler_workers }}"
        }
    },
    {% if oos_env_type == 'cluster' %}
    "compute": {
        "children": [
            "compute1",
            "compute2"
        ]
    },
    "compute1": {
        "hosts": [
            "compute01"
        ]
    },
    "compute2": {
        "hosts": [
            "compute02"
        ]
    },
    "storage": {
        "children": [
            "storage1",
            "storage2"
        ]
    },
    "storage1": {
        "hosts": [
            "compute01"
        ]
    },
    "storage2": {
        "hosts": [
            "compute02"
        ]
    },
    {% else %}
    "compute": {
        "hosts": [
            "controller"
        ]
    },
    "storage": {
        "hosts": [
            "controller"
        ]
    },
    {% endif %}
    "dashboard": {
        "hosts": [
            "controller"
        ]
    },
    "kolla": {
        "hosts": [
            "controller"
        ]
    },
    "network": {
        "hosts": [
            "controller"
        ]
    }
}
